{% load static%}
  <!-- This template will only be called for note block editor to render noteblocks -->
  {% if noteblock_form %}
  {% if noteblock_form.instance %}

  {% if noteblock_handle %}
  
  </div>
  <form hx-post="{% url 'notes:edit_noteblock' noteblock_handle.id %}" hx-encoding="multipart/form-data"
    hx-target="#block-editor" hx-vals="unset" hx-swap="outerHTML">
    <div class="card mb-3">
      <div class="card-body">
        <!-- Use jQuery to hide advanced options -->
        {% csrf_token %}
        <!-- Django overkill form -->
        <!-- Include the hidden fields -->
        {% for hidden in noteblock_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <!-- Include the visible fields  -->
        {% for field in noteblock_form.visible_fields %}
        <div class="mb-3">
          {%if field.errors%}
          <div class="alert alert-danger">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
          </div>
          {% endif %}
          <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
          </label>
          {{ field }}
          {% if field.help_text %}
          <div class="form-text">{{ field.help_text|safe }}</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="card-footer">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div hx-get="{% url 'notes:delete_blockIndex' noteblock_handle.id %}" class="btn btn-danger" hx-target="#noteblock-delete" hx-swap="innerHTML">Delete</div>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="col-auto mt-1">Last saved: {{noteblock_form.instance.last_edit}}</div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Save NoteBlock</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>

  <script src="{% static 'notechondria/js/toggle-noteblock-widgets.js' %}"></script>
  {% else %}
  <div class="alert alert-danger mt-3 ms-3 me-3">
    Note block handle not found.
  </div>
  {% endif %}
  {% else %}
  <div class="alert alert-danger mt-3 ms-3 me-3">
    Note block instance not found.
  </div>
  {% endif %}
  {% else %}
  <div class="alert alert-danger mt-3 ms-3 me-3">
    Note block not found.
  </div>
  {% endif %}

  {% include "message_display.html"%}