<div id="auto-save-bar">
    <!-- load extra script to replace default text, triggered by editor event-->
    <form hx-post="{% url 'notes:edit_note' note_form.instance.id %}"
        hx-trigger="submit"
        hx-vals="js:{'save_method':'code','md_str':window.editor.getValue()}" hx-swap="outerHTML" hx-target="#auto-save-bar">
        <div class="row g-2 justify-content-between">
            <div class="col-md-auto">
            </div>
            <div class="col-md-auto">
                <div class="row align-items-center">
                    <div class="col-md-auto">
                        <div id="saveStatus" class="form-control btn btn-light btn-sm">{%if savetime %}Last saved:{{savetime}}{%else%}No change detected{%endif%}</div>
                    </div>
                    <div class="col-md-auto">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Auto save</label>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <button id="auto-save-button" class="form-control btn btn-light btn-sm" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- auto save script-->
    <script>
        // reference: https://stackoverflow.com/a/37055590
        var $status = $('#saveStatus'),
            timeoutId;

        $(document).ready(function () {
            editor.onDidChangeModelContent(e => { // or keyup to detect backspaces

                if (document.getElementById('flexSwitchCheckChecked').checked) {
                    $status.attr('class', 'form-control btn btn-light btn-sm').text('Changes pending');

                    // console.log(window.editor.getValue());
                    // If a timer was already started, clear it.
                    if (timeoutId) clearTimeout(timeoutId);

                    // Set timer that will save comment when it fires.
                    timeoutId = setTimeout(function () {
                        // Make ajax call to save data.
                        $status.attr('class', 'form-control btn btn-light btn-sm').text('Changes submitted');
                        $("#auto-save-button").trigger("click");
                    }, 3000);

                } else {
                    $status.attr('class', 'form-control btn btn-light btn-sm').text('Autosave off');
                }
            })
        });
    </script>
</div>
{% if note_form%}
<!-- if the editor is for note -->
{% if note_md %}

{% else %}
{% endif %}
{% elif note_block_form%}
<!-- if the editor is for noteblock -->
{% if noteblock_md %}

{% else %}
{% endif %}
{% endif %}