{% load static %}

{% for blocks in noteblocks_list%}

  <div>

    <input type='hidden' name='item' value='{{blocks.index}}' />

    <form hx-post="{% url 'notes:insert_noteblock' blocks.note_id.id blocks.noteblock_id.id %}"
      hx-target="#block-editor" ,hx-swap="outerHTML">
      <div class="d-grid mb-3">
        <button class="btn btn-outline-primary">Add section</button>
      </div>
    </form>

    <!-- do htmx for each block -->
    <div hx-get="{% url 'notes:edit_noteblock' blocks.id %}" hx-swap="outerHTML"  hx-vals="unset" hx-trigger="load">
      <!-- placeholder card, reference:https://getbootstrap.com/docs/5.3/components/placeholders/ -->
      <div class="card mb-3" aria-hidden="true">
        <img src="{% static 'images/blank_grey.png' %}" class="card-img-top" style="max-height: 100px;"
          alt="placeholder image">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
          <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}