{% load static %}
<div id="code-editor">
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="{% static '/monaco-editor/min/vs/editor/editor.main.css' %}" />

    <script>
        var require = { paths: { vs: "{% static '/monaco-editor/min/vs' %}" } };
    </script>
    <script src="{% static '/monaco-editor/min/vs/loader.js' %}"></script>
    <script src="{% static '/monaco-editor/min/vs/editor/editor.main.nls.js' %}"></script>
    <script src="{% static '/monaco-editor/min/vs/editor/editor.main.js' %}"></script>

    <style>
        #codeEditor {
            width: 100%;
            height: calc(100vh - 185px);
        }
    </style>

{% include 'htmx_code_save_bar.html'%}

    <div id="codeEditor"></div>
    <script>
        // init
        editor = monaco.editor.create(document.getElementById('codeEditor'), {
            value: "No input value found!",
            language: 'markdown',
            wordWrap: true,
        });
        editor.getAction('editor.action.formatDocument').run()
//         // add widgets for last save
//         // Add an overlay widget
//         var overlayWidget = {
// 	domNode: (function () {
// 		var domNode = document.createElement("div");
// 		domNode.id="saveStatus";
//         domNode.className="alert alert-secondary";
// 		domNode.innerHTML = "No change detected";
// 		// domNode.style.background = "white";
// 		domNode.style.left = "30px";
// 		domNode.style.top = "610px";
// 		return domNode;
// 	})(),
// 	getId: function () {
// 		return "my.overlay.widget";
// 	},
// 	getDomNode: function () {
// 		return this.domNode;
// 	},
// 	getPosition: function () {
// 		return null;
// 	},
// };
// editor.addOverlayWidget(overlayWidget);
    </script>

{% if note_form%}
    <!-- if the editor is for note -->
    {% if note_md %}
    <script>
        var markdownText = `{{note_md|safe}}`;
        editor.getModel().setValue(markdownText);
        editor.getAction('editor.action.formatDocument').run()
    </script>
    

    {% else %}
    <script>
        var markdownText = [`You don't have any data in the note requested. If you are not intentionally deleting the title, then the website must have some bugs."`, `>「自己嫌悪って言うのは、非常に非生産的な感情だと思って、止しちゃったんです。それから、（自分を）好きになりました。」`, `> -- 三島由紀夫`].join('\n');
        editor.getModel().setValue(markdownText);
        editor.getAction('editor.action.formatDocument').run()
    </script>
    {% endif %}

    {% elif note_block_form%}
    <!-- if the editor is for noteblock -->
    {% if noteblock_md %}
    <script>
        var markdownText = `{{noteblock_md|safe}}`;
        editor.getModel().setValue(markdownText);
        editor.getAction('editor.action.formatDocument').run()
    </script>
    {% else %}
    <script>
        var markdownText = [`You don't have any data in the noteblock requested. If you are not intentionally deleting the title, then the website must have some bugs."`, `>「自己嫌悪って言うのは、非常に非生産的な感情だと思って、止しちゃったんです。それから、（自分を）好きになりました。」`, `> -- 三島由紀夫`].join('\n');
        editor.getModel().setValue(markdownText);
        editor.getAction('editor.action.formatDocument').run()
    </script>
    {% endif %}
{% endif %}


</div>