{% load static %}
<div id="block-editor">
  {% if noteblocks_list%}
  <!-- render block editor for note block -->
  {% if note_form %}
  <!-- add noteblock button on the bottom -->
  <div class="sortable" hx-post="{% url 'notes:reorder_blocks' note_form.instance.id %}"
    hx-vals='js:{item: $("input[name=item]").map(function(){ return this.value; })}' hx-trigger="end">

    <div class="htmx-indicator">Updating...</div>

    {% include "note_block_editor_core.html" %}

    <!-- add insert button on end-->
    <form hx-post="{% url 'notes:insert_noteblock' noteblocks_list.0.note_id.id 65535 %}" hx-target="#block-editor"
      hx-vals="unset" hx-swap="outerHTML">
      <div class="d-grid mb-3">
        <button class="btn btn-outline-primary" type="submit">Add section</button>
      </div>
    </form>
  </div>
  <!-- init script for htmx sortable -->
  <script>
    htmx.onLoad(function (content) {
      var sortables = content.querySelectorAll(".sortable");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',

          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },

          // Disable sorting on the `end` event
          onEnd: function (evt) {
            this.option("disabled", true);
          }
        });

        // Re-enable sorting on the `htmx:afterSwap` event
        sortable.addEventListener("htmx:afterSwap", function () {
          sortableInstance.option("disabled", false);
        });
      }
    })
  </script>
  {% else %}
  <!-- default card -->
  <div class="alert alert-danger mt-3 ms-3 me-3">
    Note form not found.
  </div>
  {% endif %}
  {% elif noteblock %}

  <!-- render for single noteblock -->

  {% else %}
  <!-- default card -->
  <div class="card">
    <div class="card-header">
      You don't have any data in the noteblock or note requested. If you are not intentionally deleting the title,
      then
      the website must have some bugs.
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>「自己嫌悪って言うのは、非常に非生産的な感情だと思って、止しちゃったんです。それから、（自分を）好きになりました。」</p>
        <footer class="blockquote-footer">三島由紀夫</footer>
      </blockquote>
    </div>
  </div>
  {% endif %}
</div>