{% if noteblocks_list%}
<!-- add noteblock button on the top -->
{% for blocks in noteblocks_list%}
<!-- do htmx for each block -->
{% else %}
<!-- default card -->
<div class="card">
  <div class="card-header">
    You don't have any noteblock in tis note, If you are not intentionally deleting the title, then the website must have some bugs.
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>「自己嫌悪って言うのは、非常に非生産的な感情だと思って、止しちゃったんです。それから、（自分を）好きになりました。」</p>
      <footer class="blockquote-footer">三島由紀夫</footer>
    </blockquote>
  </div>
</div>
{% endif %}