<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notechondria About</title>
    <meta charset="UTF-8">

    {% include "resource_header.html" %}
</head>

<body class="vh-100">

    {% include "navbar.html" %}

    <section class="py-5 text-center container my-auto">
        <div class="row">
            <section class="bg-light align-items-center my-auto">
                <h1 id="notechondria" class="display-4 text-center mb-4 mt-4">Notechondria</h1>
                <p class="lead text-center mb-5">Empower your success with the notes you create.</p>

                <p class="text-start mb-4">Last updated on <time datetime="2023-12-04">December 4, 2023</time>.</p>

                <p class="text-start mb-4">
                    Inspired by the synergy of notes and the energy-producing mitochondria, <strong>Notechondria</strong>
                    is designed to be the catalyst for your personal achievements. Our vision extends beyond mere text
                    or sketches on an iPad or other media. We aim to interconnect all forms of data, weaving them into
                    an easily navigable information tapestry tailored to each user.
                </p>

                <h2 class="h4 mb-3">Key Features:</h2>
                <ul class="mb-4 text-start container">
                    <li>Intelligent note-linking with automated tagging powered by generative AI.</li>
                    <li>Enhanced note interpretation and sharing through generative AI.</li>
                    <li>Effortless synchronization of notes across devices and formats, including images, datasets,
                        LaTeX, Markdown, and more.</li>
                    <li>Dynamic, card-like note truncation and automated daily note generation based on user activity.
                    </li>
                </ul>

                <p class="text-start mb-4">
                    We value your privacy and trust. That's why we guarantee that your data will not be shared or sold
                    to any third parties. As primary users of the app, the developers uphold this commitment.
                </p>

                <p class="text-start mb-3">
                    Your knowledge remains yours alone. Leveraging the OpenAI API, we ensure your original ideas and
                    thoughts are never used for AI training purposes, safeguarding the uniqueness of your intellectual
                    property.
                </p>
            </section>
        </div>
    </section>
</body>

<!-- TODO: create footer here -->