<div class="modal fade" id="editChatModal" tabindex="-1" aria-labelledby="editChatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% if edit_chat_form %}
            <form action="{% url 'gptutils:edit_chat' edit_chat_form.instance.id %}" method="post">
                <!-- Use jQuery to hide advanced options -->
                <div class="modal-header">
                    <h5 class="modal-title" id="editChatModalLabel">Edit Chat
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <!-- Django overkill form -->
                    <!-- Include the hidden fields -->
                    {% for hidden in edit_chat_form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <!-- Include the visible fields  -->
                    {% for field in edit_chat_form.visible_fields %}
                    <div class="mb-3">
                        {%if field.errors%}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text">{{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="modal-footer row d-flex align-items-end">
                        <div class="col">
                            <button type="button" class="btn btn-danger" hx-post="{% url 'gptutils:delete_chat' edit_chat_form.instance.id %}" hx-confirm="Are you sure you wish to delete this chat?">Delete Chat</button>
                        </div>
                        <div class="col-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="alert alert-warning ms-3 me-3 mt-3" role="alert">
                Edit chat form not received from server
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- load modal on default -->

<script>
$(document).ready(function() {
    $('#editChatModal').modal('show');
  });
  </script>