{% if edit_message_form%}
<!-- Modal -->
<div class="modal fade" id="delete-{{edit_message_form.instance.id}}-Modal" tabindex="-1" aria-labelledby="delete-{{edit_message_form.instance.id}}-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="delete-{{edit_message_form.instance.id}}-ModalLabel">Delete message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to <strong>DELETE</strong> the message? All the successive message will be lost! There is currently no way to restore it.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            
            <form action="{% url 'gptutils:delete_message' edit_message_form.instance.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" id="delete-{{edit_message_form.instance.id}}-button">Wait 5s</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="msg-edit-form w-100" id="msg-edit-{{edit_message_form.instance.id}}">
    <form class="row justify-content-end mt-2" id="message-edit-{{edit_message_form.instance.id}}-form"
        action="{% url 'gptutils:edit_message' edit_message_form.instance.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Django overkill form -->
        <!-- Include the hidden fields -->
        {% for hidden in edit_message_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <!-- Include the visible fields  -->
        {% for field in edit_message_form.visible_fields %}
        {% if field.name == "text" %}
        <div class="col">
            <label for="{{ field.id_for_label }}" class="visually-hidden">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
        {% elif field.name == "image" and edit_message_form.instance.is_visual_model %}
        <div class="col-3">
            <label for="{{ field.id_for_label }}" class="visually-hidden">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
        {% endif %}
        {% endfor %}
    </form>
    <div class="row g-2">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-2 loading" form="message-edit-{{edit_message_form.instance.id}}-form">Save</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#delete-{{edit_message_form.instance.id}}-Modal" id="delete-{{edit_message_form.instance.id}}-ModalToggle">
                Delete
              </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary mt-2" id="cancel-edit-{{edit_message_form.instance.id}}">Cancel</button>
        </div>
    </div>
</div>

<!-- turn off msg and open self -->

<script>
    $(document).ready(function () {
        $('#msg-{{edit_message_form.instance.id}}').hide();
        $('#msg-edit-{{edit_message_form.instance.id}}').show();
    });

    $("#cancel-edit-{{edit_message_form.instance.id}}").click(function () {
        $('#msg-{{edit_message_form.instance.id}}').show();
        $('#msg-edit-{{edit_message_form.instance.id}}').hide();
    });

    $("#delete-{{edit_message_form.instance.id}}-ModalToggle").click(function (){
        $('#delete-{{edit_message_form.instance.id}}-button').prop('disabled', true);
        setTimeout(function(){
            $("#delete-{{edit_message_form.instance.id}}-button").html('Wait 4s');
        }, 1000);
        setTimeout(function(){
            $("#delete-{{edit_message_form.instance.id}}-button").html('Wait 3s');
        }, 2000);
        setTimeout(function(){
            $("#delete-{{edit_message_form.instance.id}}-button").html('Wait 2s');
        }, 3000);
        setTimeout(function(){
            $("#delete-{{edit_message_form.instance.id}}-button").html('Wait 1s');
        }, 4000);
        setTimeout(function(){
            $("#delete-{{edit_message_form.instance.id}}-button").prop('disabled', false);
            $("#delete-{{edit_message_form.instance.id}}-button").html('Delete');
        }, 5000);

    });
</script>

{% else %}
<div class="alert alert-warning ms-3 me-3 mt-3" role="alert">
    Edit message form not received from server
</div>
{% endif %}