{% load svg_tags %}

<!-- Render conversation info -->
{% if messages_list %}
{% for message in messages_list %}
{% if forloop.last and infinite_scroll %}
<!-- Load 10 more message if scroll to end -->
    <div 
        hx-trigger="intersect once"
        hx-get="{% url 'gptutils:get_chat' cur_conversation.id %}?after={{message.created_url}}"
        hx-swap="afterend"
    >
{% else %}
    <div>
{% endif %}
    {% if message.role == 'user' %}
    <div class="row d-flex justify-content-end pe-2 ps-5">
        <div class="col-auto">
            <div class="alert alert-primary" role="alert">
                <div class="text-muted">{{message.created_local}}</div>
                <div class="msg-edit-form" id="msg-edit-{{message.id}}"></div>
                <div class="user-msg" id="msg-{{message.id}}">
                    {{message.body|linebreaksbr}}
                    {% if message.extras != None %}
                    <div class="collapse" id="collapseMessage-{{message.id}}">{{message.extras|linebreaksbr}}</div>
                    <a class="link-dark" data-bs-toggle="collapse" href="#collapseMessage-{{message.id}}" role="button" aria-expanded="false" aria-controls="collapseMessage-{{message.id}}">
                        ...
                    </a>
                    {% endif %}
                    {% if message.image %}
                    <img src="{{ message.image.url }}" alt="image send on message {{message.id}}"
                    class="image-fluid"  style=" border-radius: 25px;" />
                    {% endif %}
                    <!-- begin for menu of user input -->
                    <div class="edit-icon ">
                        <div class=" row align-items-center">
                            <div class="col-auto">
                                <!-- have a button POST a click via AJAX -->
                                <div id="edit-msg-{{message.id}}"
                                    hx-get="{% url 'gptutils:edit_message' message.id %}"
                                    hx-target="#msg-edit-{{message.id}}" hx-swap="outerHTML">
                                    {% svg_tags 'pen' '' 10 'var(--bs-secondary)' %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <form action="{% url 'gptutils:resend_message' message.id %}" method="post">
                                    <!-- csrf_token for request -->
                                    {% csrf_token %}
                                    <button class="btn btn-link loading" type="submit">
                                    {% svg_tags 'arrow-counterclockwise' '' 10 'var(--bs-secondary)' %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end for menu of user input -->
                </div>
            </div>
        </div>
    </div>
    {% elif message.role == 'assistant' %}
    <div class="row ps-2 pe-5">
        <div class="col-auto ">
            <div class="alert alert-secondary" role="alert">
                <div class="text-muted">{{message.created_local}}</div>
                <div class="col-auto">
                    {{message.body|linebreaksbr}}
                    {% if message.extras != None %}
                    <div class="collapse" id="collapseMessage-{{message.id}}">{{message.extras|linebreaksbr}}</div>
                    <a class="link-dark" data-bs-toggle="collapse" href="#collapseMessage-{{message.id}}" role="button" aria-expanded="false" aria-controls="collapseMessage-{{message.id}}">
                        ...
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
{% endfor %}
{% else %}
<div class="text-muted text-center justify-content-center mb-3"> 
    -- No further messages available --
</div>
{% endif%}

{% include "message_display.html"%}