<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notecondria About</title>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    {% include "navbar.html" %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <section class="bg-light p-5 my-5">
                <h1 id="notecondria" class="display-4 text-center mb-4">Notecondria</h1>
                <p class="lead text-center mb-5">Empower your success with the notes you create.</p>

                <p class="mb-4">Last updated on <time datetime="2023-12-04">December 4, 2023</time>.</p>

                <p class="mb-4">
                    Inspired by the synergy of notes and the energy-producing mitochondria, <strong>Notecondria</strong>
                    is designed to be the catalyst for your personal achievements. Our vision extends beyond mere text
                    or sketches on an iPad or other media. We aim to interconnect all forms of data, weaving them into
                    an easily navigable information tapestry tailored to each user.
                </p>

                <h2 class="h4 mb-3">Key Features:</h2>
                <ul class="mb-4 text-left container">
                    <li>Intelligent note-linking with automated tagging powered by generative AI.</li>
                    <li>Enhanced note interpretation and sharing through generative AI.</li>
                    <li>Effortless synchronization of notes across devices and formats, including images, datasets,
                        LaTeX, Markdown, and more.</li>
                    <li>Dynamic, card-like note truncation and automated daily note generation based on user activity.
                    </li>
                </ul>

                <p class="mb-4">
                    We value your privacy and trust. That's why we guarantee that your data will not be shared or sold
                    to any third parties. As primary users of the app, the developers uphold this commitment.
                </p>

                <p class="mb-0">
                    Your knowledge remains yours alone. Leveraging the OpenAI API, we ensure your original ideas and
                    thoughts are never used for AI training purposes, safeguarding the uniqueness of your intellectual
                    property.
                </p>
            </section>
        </div>
    </section>
</body>

<!-- TODO: create footer here -->