<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notecondria About</title>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    {% include "navbar.html" %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h3 class="fw-light">Cookistry</h3>
                <p class="lead text-body-secondary">About page, but I don't know what to put here</p>
                <a href="https://wakatime.com/badge/user/53e0bfc9-ae89-4cb3-99fe-c6cbc6359857/project/cb70c7b3-15b6-4a3d-8d55-8a2c5e0d1e58"><img src="https://wakatime.com/badge/user/53e0bfc9-ae89-4cb3-99fe-c6cbc6359857/project/cb70c7b3-15b6-4a3d-8d55-8a2c5e0d1e58.svg" alt="wakatime"></a>
                <p class="lead text-body-secondary">Blank page code from <a
                        href="https://getbootstrap.com/docs/5.3/examples/album/">Bootstrap</a>
                </p>
            </div>
        </div>
    </section>
</body>

<!-- TODO: create footer here -->