<!DOCTYPE html>
<html lang="en">


<head>
    <title>Notechondria login</title>
    <meta charset="UTF-8">
    {% load static %}      
    {% include "resource_header.html" %}
</head>


<body>
    {% include "navbar.html" %}
         
     <form action="{% url 'memcsv:upload_memcsv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}         

        {% comment %} render as paragraph {{ }} means render as text {% endcomment %}
        <button type="submit"> Upload </button>
     </form>
</body>


